body {
color:black;
background-color:pink;
}

h1> DONT USE THE KEYBOARD HOME ROW </h1>
<h2> <code>jkhghfdfsqsdmlk1789</code> is not a strong password </h2>
<b> J'espère que tu l'as modifié petit coquin </b>

<br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/AhrMQtaihEM" frameborder="0" allowfullscreen></iframe>
